.image-about img {
    width: 300px;
    height: 400px;
}

.about-me-container {
    display: flex;
}

.about-text h1, .about-text h2, .about-text h3, .about-text h4 {
    text-align: center;
    text-transform: capitalize;
}

.about-text p {
    text-transform: capitalize;
}