.image-about img {
    width: 250px;
    height: 350px;
    border-radius: 30px;
}

.image-about {
    margin-left: 20px;
    margin-top: 20px;
}

.about-me-container {
    display: flex;
}

.about-text h1, .about-text h2, .about-text h3, .about-text h4 {
    text-transform: capitalize;
}

.about-text p {
    text-transform: capitalize;
}

.about-me-container {
    background-color: #fafafa;
    width: 1345px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.pharagraph-one-by-pic, .pharagraph-two-by-pic {
    padding-left: 40px;
    padding-right: 40px;
}

.pharagraph-two-by-pic {
    padding-bottom: 80px;
}

.about-text h2 {
    margin-top: 40px;
}

.without-pic-content {
    width: 1345px;
    background-color: #fafafa;
    margin-left: -270px;
}

.without-pic-content p {
    padding-left: 50px;
    padding-right: 50px;
}

.about-text h1 {
    font-size: 45px;
    padding-left: 250px;
}

.about-text h2 {
    font-size: 40px;
    padding-left: 420px;
}

.about-text h3 {
    font-size: 35px;
    padding-left: 270px;
    padding-top: 50px;
}

.about-text h4 {
    font-size: 30px;
    padding-left: 100px;
    text-align: center;
    padding-top: 50px;
}

.last-pharagraph {
    padding-bottom: 50px;
}

.about-text p {
    font-size: 25px;
}

.without-pic-content a {
    text-decoration: none;
    color: #2ebdfe;
}