/*STICKY FOOTER AND HEADER*/
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #0A5955; /* 2. Same as header and footer, does not worj in codepen*/
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* 0. Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    padding: 10px;
  }

  header.page-header {
    background-color: #2CB39F;
  }

  footer.page-footer {
    background-color: #134845;
  }
  
  main.page-body {
    flex-grow: 1; /* 1. Let main take all available space */
    padding: 0 10px;
    background-color: #0A5955;
    color: black;
  }

/* END STICKY FOOTER AND HEADER*/

.header-name-thing a, .right-side-header a {
  color: #000000;
  text-decoration: none;
  font-family: "Agdasima", serif;
}

.header-name-thing a {
  font-size: 50px;
}

.right-side-header a {
  font-size: 40px;
}

.right-side-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-name-thing {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.right-side-header {
  margin-left: 400px;
}

.page-header, .right-side-header {
    display: flex;
}

.about-header-button, .info-header-button, .interviews-header-button, .reviews-header-button, .contact-header-button {
  margin-left: 30px;
}

/* FOTTER */

.subscription-form {
  padding: 20px;
  text-align: left;
  width: 600px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="email"] {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 450px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 30px;
}

.subscribe-link {
  display: inline-block;
  padding: 10px 15px;
  width: 485px;
  text-align: center;
  background: #000000;
  color: #2CB39F;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 30px;
  border: 2px solid #2CB39F;
}

.subscription-form h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-form p, .copyright-subsection-footer p {
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}

.page-footer, .social-media-links-footer {
  display: flex;
}

.two-sections-in-one-footer {
  margin-left: 300px;
  margin-top: 150px;
}

.yotube-link-section-footer, .x-link-section-fotter, .gmail-link-section-footer, .discord-link-section-fotter {
  margin-left: 25px;
}