.big-boxes-containter, .box-container-two, .box-container-three {
    display: flex;
}

/* LARGE BOXES */

.text-container-large {
    background-color: #ffffff;
    width: 450px;
    text-align: center;
}

.big-boxes-containter {
    margin-left: 200px;
}

.box-two-large {
    margin-left: 200px;
}

.image-container-large img {
    width: 450px;
    height: 480px;
}

/*  END LARGE BOXES */

/* NORMAL BOXES */

.text-container-normal {
    background-color: #ffffff;
    width: 350px;
    text-align: center;
}

.image-container-normal img {
    width: 100px;
    height: 130px;
}

/* END NORMAL BOXES */