.big-boxes-containter, .box-container-two, .box-container-three {
    display: flex;
}

/* LARGE BOXES */

.big-boxes-containter {
    margin-top: 70px;
}

.text-container-large {
    background-color: #ffffff;
    width: 470px;
    text-align: left;
    margin-top: -10px;
}

.big-boxes-containter {
    margin-left: 200px;
}

.box-two-large {
    margin-left: 200px;
}

.image-container-large img {
    width: 470px;
    height: 500px;
}

.main-body-of-container-large {
    font-size: 20px;
    padding-top: 20px;
}

.date-of-container-large {
    font-size: 18px;
    padding-bottom: 20px;
    color: #aeaeae;
    text-transform: uppercase;
}

/*  END LARGE BOXES */

/* NORMAL BOXES */

.box-container-two  {
    margin-top: 50px;
}

.text-container-normal {
    background-color: #ffffff;
    width: 350px;
    text-align: center;
}

.image-container-normal img {
    width: 100px;
    height: 130px;
}

/* END NORMAL BOXES */