.main-post-container {
    background-color: #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.header-of-the-post {
    display: flex;
}

.icon-in-post {
    margin-top: 35px;
    margin-left: 50px;
}

.content-of-header-of-post {
    padding-left: 50px;
    padding-right: 50px;
}

.content-of-header-of-post h1 {
    font-size: 40px;
    color: #000000;
}

.content-of-header-of-post p {
    font-size: 30px;
    color: #818181;
    padding-left: 20px;
}

.picture-thing-section img {
    width: 600px;
    height: 680px;
    border-radius: 30px;
}

.picture-thing-section {
    margin-left: 400px;
}

.main-content-text-text {
    padding-left: 60px;
    padding-right: 60px;
}

.rating-of-review {
    text-align: center;
    padding-bottom: 30px;
}